/* .add-song,
table {
	background: white;
	border-radius: var(--radius);
	filter: var(--shadow);
}

.add-song {
	padding: 2rem;
	display: grid;
	gap: 10px;
} */

 main {
	display: grid;
	grid-template-columns: repeat(2 , 1fr);
	width : 800px;
}
.add-song {
	grid-column: 1;
}
.section_search {
	grid-column: 2/2;
}
.section-table {
	margin-top: -300px;
	grid-column: 2;
	
}
table {
	background: gray;
	display: grid;
	overflow: scroll;
}
tbody {
	display: grid;
}

th,
td {
	padding: 2rem 0.5rem;
	align-self: center;
	font-size: 14px;
	line-height: 17px;
}

tr {
	display: grid;
	justify-items: center;
	grid-template-columns: 20% 20% 15% 15% 15% 15%;
	border-bottom: 1px solid var(--grey-bg);
	padding: 0 2rem;
}
form {
    width: 100px;
    background-color: white;
}
form label {
    padding-bottom: 1rem;
}
input {
    margin-bottom: 1.5rem;
}
label {
    margin-bottom: 1rem;
}
select {
   margin-bottom: 1.5rem;
}